<%- include("../layouts/header.ejs") %>

    <div class="container">

        <h1 class="text-center mt-3 mb-5">Jadwal Penerbangan BLK Air</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Kode Pesawat</th>
                    <th scope="col">Nama Pesawat</th>
                    <th scope="col">Asal Keberangkatan</th>
                    <th scope="col">Tujuan Keberangkatan</th>
                    <th scope="col">Tanggal Keberangkatan</th>
                    <th scope="col">Jam Keberangkatan</th>
                    <th scope="col">Harga Tiket</th>
                    <th scope="col">Pesan Tiket</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <%- include("../layouts/footer.ejs") %>